:root {
  --text: gray;
}

[data-theme="dark"] {
  --text: #fff;
}

p {
  color: var(--text);
  transition: all 0.5s;
}

p:hover {
  color: tomato;
  border-color: tomato;
  cursor: pointer;
}

.left {
  flex: 0.1;
  background-color: transparent;
  color: green;
}
