:root {
  --background: #fff;
}

[data-theme="dark"] {
  --background: #000;
}

.App {
  width: 100%;
  margin: 0;
  min-height: 100vh;
  background-color: var(--background);
  transition: all 0.5s;
}
.container {
  font-family: "Ubuntu", sans-serif;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  color: green;
}

h1 {
  text-align: center;
}

ul {
  padding: 0 0 0 0;
  width: 100%;
}

.themeButton img {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  cursor: pointer;
}

@keyframes slidein {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 65vw;
  }
}
@media (max-width: 500px) {
  .container {
    width: 85vw;
  }
}
